[defaults]

inventory = inventory.ini
log_path = /var/log/ansible.log
ANSIBLE_PRIVATE_KEY_FILE = /home/ec2-user/.ssh
remote_user = ansible
#ask_vault_pass = true
#vault_password_file = /home/ec2-user/vault.yaml